.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.square {
    background-color: lightgray;;
    width: 25%;
    margin: 5px 30px 5px 30px;
    padding: 10px;
    height: 200px;
}

